/* weight */
.font-medium{
    font-weight: var(--font-weight-medium);
}

.font-bold{
    font-weight: var(--font-weight-bold);
    font-family: sans-serif;
}

/* Text color */
.text-green-600{
    color: var(--color-green-600);
}

.text-red-500{
    color: var(--color-red-500);
}

.text-gray-400{
    color: var(--color-gray-400);
}

.text-gray-600{
    color: var(--color-gray-600);
}

.text-gray-900{
    color: var(--color-gray-900);
}

.text-white{
    color: white;
}

.text-center{
    text-align: center;
}

/* Bg color */
.bg-green-600{
    background-color: var(--color-green-600);
}

.bg-green-100{
    background-color: var(--color-green-100);
}

.bg-blue-600{
    background-color: var(--color-blue-600);
}

.bg-gray-800{
    background-color: var(--color-gray-800);
}

.bg-transparent{
    background-color: transparent;
}

/* font size */
.text-2xl{
    font-size: var(--text-2xl);
}

.text-sm{
    font-size: var(--text-sm);
    line-height: var(--text-sm--line-height);
}

.text-font{
    font-family: sans-serif;
}

.overflow-hidden{
    overflow: hidden;
}

/*Border color */
.border-gray-300{
    border-color: var(--color-gray-300);
}

.border-gray-200{
    border-color: var(--color-gray-200);
}