/* ------------------------------ HEADER -------------------------*/
.title-web {
    display: flex;
    align-items: center;
    padding: 0 1rem;
    gap: .75rem;
    cursor: pointer;
    font-weight: 700;
}

.title-name {
    color: var(--text-title-color);
}

.setting-icon {
    padding-left: 10px;
}

.setting-icon i {
    color: var(--text-title-color);
}

.setting-icon i:hover {
    color: var(--neon-orange);
}

.nav-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    border-bottom: 1px solid #f1f1f2;
    background: white;
}

.nav-left {
    list-style: none;
    gap: 1.5rem;
}

.nav-left a {
    position: relative;
    font-size: 1.05rem;
    font-weight: 510;
    text-decoration: none;
    color: var(--text-nav-color);
}

.nav-left a:hover {
    color: var(--text-nav-hover);
    text-decoration: underline;
    text-decoration-thickness: 3px;
    text-underline-offset: 1.45rem;
}

.nav-wrapper {
    width: 100%;
}

.align-center {
    align-items: center;
}

.footer {
    text-align: center;
    background-color: white;
}

.version {
    color: var(--color-gray-400);
}

/* using for mobile */
@media ((min-width: 320px) and (max-width: 767px)) {
    .top-nav {
        display: flex;
    }

    .nav-left {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 60px;
        left: 0;
        width: 50%;
        background: white;
        background-color: white;
        backdrop-filter: blur(10px);
        float: left;
        align-items: flex-start;
        justify-content: flex-start;
        z-index: 999;
        height: 100%;
    }

    .nav-left.active {
        display: flex;
    }

    .top-nav {
        padding: 0 1rem;
    }

    .top-nav.active .icon-menu {
        display: none;
    }

    .top-nav.active .icon-close {
        display: inline;
    }

    .nav-header {
        padding: 1rem 0;
    }

    .nav-header.top-nav {
        width: 250px;
    }

    .title-name {
        font-size: 12.5px;
    }

    .logo-ttlab {
        width: 15px;
        height: 15px;
    }

    .setting-icon i {
        font-size: 15px;
    }

    .icon-menu {
        display: inline;
    }

    .icon-close {
        display: none;
    }
}

@media (min-width: 768px) {

    .top-nav,
    .icon-menu,
    .icon-close {
        display: none;
    }

    .title-name {
        font-size: 25px;
    }

    .setting-icon i {
        font-size: 20px;
    }

    .nav-header {
        padding: 1rem 1% 1rem 5%;
    }

    .nav-left {
        display: flex;
    }
}

/*----------------------------- END HEADER ------------------*/