.round-xl{
    border-radius: calc(var(--spacing) * 4);
}

.rounded-xl{
    border-radius: calc(var(--spacing) + 4px);
}

.rounded-lg{
    border-radius:var(--radius) ;
}

.cursor-pointer{
    cursor: pointer;
}

.appearance-none{
    appearance: none;
}

/* border color */
.border-green-300{
    border-color: var(--color-green-300);
}

.border-gray-600{
    border-color: var(--color-gray-600);
}