.round-xl{
    border-radius: calc(var(--spacing) * 4);
}

.rounded-xl{
    border-radius: calc(var(--spacing) * 3);
}

.rounded-2xl{
    border-radius: calc(var(--spacing) * 4);
}

.rounded-lg{
    border-radius:var(--radius) ;
}

.cursor-pointer{
    cursor: pointer;
}

.appearance-none{
    appearance: none;
}

/* border color */
.border-gray-200{
    border-color: var(--color-gray-200);
}

.border-gray-300{
    border-color: var(--color-gray-300);
}

.border-green-300{
    border-color: var(--color-green-300);
}

.border-red-300{
    border-color: var(--color-red-300);
}

.border-gray-600{
    border-color: var(--color-gray-600);
}

.border-b {
    border-bottom-width: 1px;
}

.border-2{
    border-width: 2px ;
}

.border-pgn {
    border: 1px solid var(--border-pgn-color);
}

/* Shadow box */
.shadow-xl{
    box-shadow: var(--shadow-xl);
}

.shadow-2xl{
    box-shadow: var(--shadow-2xl);
}