.env
.env.example
.env.local
.env.*.local

# using npm only, no lockfiles committed
pnpm-lock.yaml
pnpm-workspace.yaml
pnpm-workspace.yaml

# node module
node_modules/
frontend/node_modules

# next js
frontend/.next

# package
package-lock.json

mongodb_data/
.DS_Store
dist/
build/
*.log
chessserver.exe