.env
.env.local
.env.*.local

# node module
node_modules/
frontend/node_modules

# next js
frontend/.next

pnpm-lock.yaml
pnpm-workspace.yaml

mongodb_data/
.DS_Store
dist/
build/
*.log
chessserver.exe